
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div{background-color: #BBB;}

div:nth-of-type(even){background: #555;}